@font-face {
	font-family: 'opensansregular';
	src: url('fonts/opensansregular.eot');
	src: url('fonts/opensansregular.eot') format('embedded-opentype'), url('fonts/opensansregular.woff') format('woff'), url('fonts/opensansregular.ttf') format('truetype'), url('fonts/opensansregular.svg#opensansregular') format('svg');
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('fonts/OpenSansBold.eot');
	src: url('fonts/OpenSansBold.eot') format('embedded-opentype'), url('fonts/OpenSansBold.woff') format('woff'), url('fonts/OpenSansBold.ttf') format('truetype'), url('fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	font-family: 'opensansregular';
	color: #495d65;
	margin: 0px;
    font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	
}
.wrapper {
	min-height: 100%;
	position: relative;
	padding: 0px;

}
#header {
	width: 100%;
    
}
#page-body {
	width: 100%;
	padding-bottom: 350px;
   
}


.footer {
	width: 100%;
	background-color: #2a323b;
	position: absolute;
	bottom: 0;
	height: auto;
	padding: 15px 15px;
}

.navbar {
    position: relative;
    min-height: 80px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-brand {
    float: left;
    height: 80px;
    padding: 7px 15px;
    font-size: 18px;
    line-height: 20px;
}


.navbar-default {
	background-color: #fff;
	border: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
}
.navbar-default .navbar-nav>li>a {
	color: #323f43;
	font-family: 'opensansregular';
	font-size: 14px;
	font-weight: normal;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #85c342;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #85c342;
	background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e7e7e7;
	border: 0px;
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 26px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 0px solid transparent;
	border-radius: 0px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #85c342;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 190px;
	padding: 0px 0;
	margin: 0px 0 0 0px;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #85c342;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 0px solid #ccc;
	border: 0px solid rgba(0,0,0,.15);
	border-radius: 0px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
	display: block;
	padding: 12px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #fff;
	white-space: nowrap;
	border-bottom: 1px solid #7bb63b;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.dropdown-menu>li>a:hover {
	background-color: #fff;
	color: #85c342;
}
.dropdown-menu>li>a img {
	position: absolute;
    right: 15px;
    top: 18px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #fff;
	border-color: #f2f2f2;
		color: #85c342;
}

.open > .dropdown-menu:hover {
  display: block;
}
.header-request-demo {
	font-family: 'OpenSansBold';
	font-size: 14px;
	float: right;
	color: #fff;
	background-color: #85c342;
	padding: 6px 16px;
	margin-top: 21px;
	border:2px solid #85c342;
	text-transform: uppercase;
	font-weight: normal;
	border-radius: 2px;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;/*box-shadow: 1px 2px 15px rgba(244,120,21,0.50);*/
}
.header-request-demo:hover {
	color: #85c342;
	text-decoration: none;
	background-color:transparent;
	border:2px solid #85c342;
}
.header-request-demo:focus {
	color: #85c342;
	text-decoration: none;
	background-color: transparent;
}

.home-banner-section {
	background-image: url(../images/homeBan.png);
	background-size: cover;
	position: relative;
	display: block;
	height: 568px;
	background-position: center;
	
}

.home-text-animation {
	width: 100%;
	color:#fff;
	margin-top: 120px;
	
}


.home-text-animation h1 {
    margin-top: 0;
    margin-left: -580px;
	margin: 0px;
	padding: 0px;
	font-size: 55px;
    line-height: 40px;
}

.visible {
	overflow: hidden;
	font-weight: 600;
	height: 55px;
	padding: 0 40px;
}

.visible p {
  display: inline;
  float: left;
  margin: 0;
}

.visible ul {
	font-family: BariolRegular, sans-serif;
	margin-top: 0;
	padding-left: 145px;
	text-align: left;
	list-style: none;
	-webkit-animation-name: change;
	-moz-animation-name: change;
	animation-name: change;
	-webkit-animation-duration: 14s;
	-moz-animation-duration: 14s;
	animation-duration: 14s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.visible ul li {
	display: block;
  line-height: 40px;
  margin: 0;
  font-size: 55px;
  margin-left: 405px;
  padding: 10px 0;
  letter-spacing: 1px;
  width: 100%;
}

@-moz-keyframes change {
	0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
            transform: translateY(0%);
  }
  1%, 14.5% {
    -webkit-transform: translateY(-13.5%);
    -moz-transform: translateY(-13.5%);
            transform: translateY(-13.5%);
  }
  16.5%, 31% {
    -webkit-transform: translateY(-30.5%);
    -moz-transform: translateY(-30.5%);
            transform: translateY(-30.5%);
  }
  33%, 47.5% {
    -webkit-transform: translateY(-47.5%);
    -moz-transform: translateY(-47.5%);
            transform: translateY(-47.5%);
  }
  49.5%, 64% {
    -webkit-transform: translateY(-64.5%);
    -moz-transform: translateY(-64.5%);
            transform: translateY(-64.5%)
  }
  66%, 80.5% {
    -webkit-transform: translateY(-80.5%);
    -moz-transform: translateY(-80.5%);
            transform: translateY(-80.5%);
  }
  82.5%, 99% {
    -webkit-transform: translateY(-97.25%);
    -moz-transform: translateY(-97.25%);
            transform: translateY(-97.25%);
  }
  100% {
    -webkit-transform: translateY(-118.5%);
    -moz-transform: translateY(-118.5%);
            transform: translateY(-118.5%);
  }
}

@-webkit-keyframes change {
	0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
            transform: translateY(0%);
  }
  1%, 14.5% {
    -webkit-transform: translateY(-13.5%);
    -moz-transform: translateY(-13.5%);
            transform: translateY(-13.5%);
  }
  16.5%, 31% {
    -webkit-transform: translateY(-30.5%);
    -moz-transform: translateY(-30.5%);
            transform: translateY(-30.5%);
  }
  33%, 47.5% {
    -webkit-transform: translateY(-47.5%);
    -moz-transform: translateY(-47.5%);
            transform: translateY(-47.5%);
  }
  49.5%, 64% {
    -webkit-transform: translateY(-64.5%);
    -moz-transform: translateY(-64.5%);
            transform: translateY(-64.5%)
  }
  66%, 80.5% {
    -webkit-transform: translateY(-80.5%);
    -moz-transform: translateY(-80.5%);
            transform: translateY(-80.5%);
  }
  82.5%, 99% {
    -webkit-transform: translateY(-97.25%);
    -moz-transform: translateY(-97.25%);
            transform: translateY(-97.25%);
  }
  100% {
    -webkit-transform: translateY(-118.5%);
    -moz-transform: translateY(-118.5%);
            transform: translateY(-118.5%);
  }
}
@-moz-keyframes changeTablet {
	0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
            transform: translateY(0%);
  }
  1%, 14.5% {
    -webkit-transform: translateY(-8.5%);
    -moz-transform: translateY(-8.5%);
            transform: translateY(-8.5%);
  }
  16.5%, 31% {
    -webkit-transform: translateY(-25.5%);
    -moz-transform: translateY(-25.5%);
            transform: translateY(-25.5%);
  }
  33%, 47.5% {
    -webkit-transform: translateY(-42.5%);
    -moz-transform: translateY(-42.5%);
            transform: translateY(-42.5%);
  }
  49.5%, 64% {
    -webkit-transform: translateY(-59.5%);
    -moz-transform: translateY(-59.5%);
            transform: translateY(-59.5%)
  }
  66%, 80.5% {
    -webkit-transform: translateY(-75.5%);
    -moz-transform: translateY(-75.5%);
            transform: translateY(-75.5%);
  }
  82.5%, 99% {
    -webkit-transform: translateY(-92.25%);
    -moz-transform: translateY(-92.25%);
            transform: translateY(-92.25%);
  }
  100% {
    -webkit-transform: translateY(-118.5%);
    -moz-transform: translateY(-118.5%);
            transform: translateY(-118.5%);
  }
}

@-webkit-keyframes changeTablet {
	0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
            transform: translateY(0%);
  }
  1%, 14.5% {
    -webkit-transform: translateY(-8.5%);
    -moz-transform: translateY(-8.5%);
            transform: translateY(-8.5%);
  }
  16.5%, 31% {
    -webkit-transform: translateY(-25.5%);
    -moz-transform: translateY(-25.5%);
            transform: translateY(-25.5%);
  }
  33%, 47.5% {
    -webkit-transform: translateY(-42.5%);
    -moz-transform: translateY(-42.5%);
            transform: translateY(-42.5%);
  }
  49.5%, 64% {
    -webkit-transform: translateY(-59.5%);
    -moz-transform: translateY(-59.5%);
            transform: translateY(-59.5%)
  }
  66%, 80.5% {
    -webkit-transform: translateY(-75.5%);
    -moz-transform: translateY(-75.5%);
            transform: translateY(-75.5%);
  }
  82.5%, 99% {
    -webkit-transform: translateY(-92.25%);
    -moz-transform: translateY(-92.25%);
            transform: translateY(-92.25%);
  }
  100% {
    -webkit-transform: translateY(-118.5%);
    -moz-transform: translateY(-118.5%);
            transform: translateY(-118.5%);
  }
}
@-moz-keyframes changeMobile {
	0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
            transform: translateY(0%);
  }
  1%, 14.5% {
    -webkit-transform: translateY(-8.5%);
    -moz-transform: translateY(-8.5%);
            transform: translateY(-8.5%);
  }
  16.5%, 31% {
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  33%, 47.5% {
    -webkit-transform: translateY(-42%);
    -moz-transform: translateY(-42%);
            transform: translateY(-42%);
  }
  49.5%, 64% {
    -webkit-transform: translateY(-58.5%);
    -moz-transform: translateY(-58.5%);
            transform: translateY(-58.5%)
  }
  66%, 80.5% {
    -webkit-transform: translateY(-75.5%);
    -moz-transform: translateY(-75.5%);
            transform: translateY(-75.5%);
  }
  82.5%, 99% {
    -webkit-transform: translateY(-92.25%);
    -moz-transform: translateY(-92.25%);
            transform: translateY(-92.25%);
  }
  100% {
    -webkit-transform: translateY(-118.5%);
    -moz-transform: translateY(-118.5%);
            transform: translateY(-118.5%);
  }
}

@-webkit-keyframes changeMobile {
	0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
            transform: translateY(0%);
  }
  1%, 14.5% {
    -webkit-transform: translateY(-8.5%);
    -moz-transform: translateY(-8.5%);
            transform: translateY(-8.5%);
  }
  16.5%, 31% {
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  33%, 47.5% {
    -webkit-transform: translateY(-42%);
    -moz-transform: translateY(-42%);
            transform: translateY(-42%);
  }
  49.5%, 64% {
    -webkit-transform: translateY(-58.5%);
    -moz-transform: translateY(-58.5%);
            transform: translateY(-58.5%)
  }
  66%, 80.5% {
    -webkit-transform: translateY(-75.5%);
    -moz-transform: translateY(-75.5%);
            transform: translateY(-75.5%);
  }
  82.5%, 99% {
    -webkit-transform: translateY(-92.25%);
    -moz-transform: translateY(-92.25%);
            transform: translateY(-92.25%);
  }
  100% {
    -webkit-transform: translateY(-118.5%);
    -moz-transform: translateY(-118.5%);
            transform: translateY(-118.5%);
  }
}

.footer-section-title {
	font-family: 'OpenSansBold';
	font-size: 15px;
	color: #fff;
	margin: 20px 0px 5px 0px;
	line-height:inherit !important;
}
.footer-section-links {
	margin: 0px;
	padding: 0px;
}
.footer-section-links li {
	margin: 0px;
	padding: 0px;
	font-family: 'opensansregular';
	font-weight: normal;
	font-size: 13px;
	color: #83888d;
	list-style: none;
}
.footer-section-links li a {
	font-family: 'opensansregular';
	font-weight: normal;
	font-size: 13px;
	color: #83888d;
	text-decoration: none;
}
.footer-section-links li a:hover {
	color: #85c342;
	text-decoration: none;
}
.footer-section-links li a:focus {
	color: #85c342;
	text-decoration: none;
}
.footer-text {
	font-family: 'opensansregular';
	font-weight: normal;
	font-size: 13px;
	color: #83888d;
}
.copyright {
	border-top: 1px solid #323e42;
	padding: 20px 0px 10px 0px;
}
.copyright p {
	font-family: 'opensansregular';
	font-weight: normal;
	font-size: 13px;
	margin: 0px;
	color: #6d747b;
}
.footer-demo-button {
	margin: 30px 0px;
}
.footer-demo-button a {
	font-family: 'OpenSansBold';
	font-size: 14px;
	color: #fff;
	background-color: #3d4650;
	padding: 10px 30px;
	margin: 0px 0px;
	text-transform: uppercase;
	font-weight: normal;
	border-radius: 2px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;/*box-shadow: 1px 2px 15px rgba(244,120,21,0.50);*/
}
.footer-demo-button a:hover {
	color: #fff;
	background-color: #85c342;
	text-decoration: none;
}
#footer_socialmedia {
	margin: 0px 0px;
	padding: 0px;
}
#footer_socialmedia li {
	color: #6d747b;
	font-size: 18px;
	text-transform: uppercase;
	list-style: none;
	display: inline-block;
	padding: 0px 0px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#footer_socialmedia li a {
	text-align: left;
	color: #6d747b;
	font-size: 18px;
	text-decoration: none;
	padding: 5px 20px 5px 0px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#footer_socialmedia li a:hover {
	color: #85c342;
}

/**************************** INNER PAGE ************************************/


.inside-page-banner {
	width: 100%;
	float: left;
}

.inside-page-banner h1 {
	color: #ffffff;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.33);
	font-family: 'OpenSansBold';
	font-size: 30px;
	margin-bottom: 0px;
	text-transform: uppercase;
	line-height: 40px;
}
.breadcrumb-bg {
	width: 100%;
	background-color: rgba(0,0,0,0.25);
	padding: 15px 0px;
	position: absolute;
    bottom: 0;
}
.breadcrumb {
	background:none;
	/*background: #fff none repeat scroll 0 0;*/
	border-radius: 0;
	display: inline-block;
	height: auto;
	margin: 0px auto 0;
	padding: 0px;
	position: relative;
	text-align: left;
	width: 235px;
	z-index: 9;
	bottom: 0;
	left: 30px;
}
.breadcrumb li {
	color: #fff;
	font-size: 16px;
	
	line-height: 13px;
	padding: 0 24px;
	font-family: 'opensansregular';
	text-transform: uppercase;
	position: relative
}
.breadcrumb > li a {
	font-weight: 300
}
.breadcrumb > li + li::before {
	display: none
}
.breadcrumb > li:first-child, .breadcrumb.three > li:first-child {
	padding-left: 0
}
.breadcrumb > li:last-child, .breadcrumb.three > li:last-child {
	padding-right: 0
}
.breadcrumb > li::after {
	background: #696969 none repeat scroll 0 0;
	content: "";
	height: 16px;
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
}
.breadcrumb > li:last-child::after {
	display: none
}
/*.breadcrumb::before {
	background: #fff none repeat scroll 0 0;
	content: "";
	height: 14px;
	left: 0;
	position: absolute;
	top: -6px;
	transform: rotate(-6deg);
	width: 119px;
}
.breadcrumb::after {
	background: #fff none repeat scroll 0 0;
	content: "";
	height: 14px;
	position: absolute;
	right: 0;
	top: -6px;
	transform: rotate(6deg);
	width: 119px;
}*/
.breadcrumb a {
	color: #fff;
	font-family: 'opensansregular';
	font-size: 13px;
	padding-right: 10px;
}
.breadcrumb a:hover {
	color: #85c342;
	text-decoration: none;
}
.breadcrumb .active {
	color: #dfeece;
	text-decoration: none;
	
}
.breadcrumb .duble-arrow {
	color: #fff;
	padding-right: 10px;
}



/**************************** END INNER PAGE ************************************/

/**************************** BLOG ************************************/
#blog {
	padding: 4% 0px 0px 0px;
	height: 300px;
	background-image: url(../images/blog/banner.jpg);
	position: relative;
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
}

.blog{
    padding: 120px 0px 90px;
}
.blog-item{
    background-color: #fff;
   /* box-shadow: 0px 0px 10px 2px rgba(0,0,0,.1);*/
    margin-bottom: 30px;
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
}
.blog-item:hover{
    /*-webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);*/
}
.blog-item .blog-image{
    overflow: hidden;
}
.blog-item img{
    width: 100%;
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/*.blog-item:hover img{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}*/
 .blog-item .blog-content{
    padding: 15px;
}
 .blog-item .blog-content h4 a{
	 font-family: 'OpenSansBold';
    text-decoration: none;
    color: #212121;
	 font-size: 22px;
	 line-height: 30px;
	 transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
 .blog-item .blog-content h4 a:hover{
    color: #85c342;
}
.blog-item .blog-content p{
    margin-bottom: 10px;
    line-height: 30px;
}
 .blog-item ul{
    margin: 0px;
    border-top: 1px solid #f0f0f0;
    padding: 9px 15px;
}
.blog-item  ul li{
    list-style: none;
    display: inline-block;
    margin-right: 0px;
	font-size: 14px;
    color: #707070;
}
 .blog-item ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #495d65;
	 padding: 0px 5px;
	 font-style: italic;
	 font-family: 'OpenSansBold';
}
 .blog-item ul li .icon{
    margin-right: 5px;
    color: #495d65;
}
 .blog-item ul li .icon:before{
    font-size: 18px;
}
 .blog-button{
    text-align: center;
}
 .blog-item{
    overflow: hidden;
	
}

.blog-item .blog-content{
    padding: 0px 30px;
}
.blog-item .blog-content-details {
	 padding: 10px 0px;
}
 .blog-item-wide{
  
    margin-top: 30px;
	 
}
 .blog-item-wide .blog-image{
    float: left;
	border: 1px solid #f0f0f0;
	padding: 10px;
}
.blog-item-wide .blog-details-img {
	float: none;
	margin-bottom: 15px;
	padding: 10px;
}
 .blog-item-wide .blog-content{
    display: table;
}
 .blog-item-wide .blog-content p{
    line-height: 23px;
	 font-size: 14px;
}
 .blog-item h4{
    font-size: 20px;
	 margin-top: 0px;
}
 .blog-item ul{
    border: none;
    padding: 0px 0px;
}
 .blog-item ul li i, .blog-two .blog-item ul li i a{
    color: #85c342;
}
 .blog-item ul li i, .blog-two .blog-item ul li i a{
    color: #85c342;
}
 .blog-item a, .blog-two .blog-item a:hover{
    text-decoration: none;
    color: #85c342;
}

.reply-link a {
	color: #85c342 !important;
	font-family: 'opensansregular' !important;
	font-style: normal !important;
}
.blog-three{
    background-image: url(../../images/background/blog-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0px;
}
.blog-three .overlay{
    background-color: rgba(0,0,0,.7);
}
.blog-item-classes{}
.blog-item-classes .blog-content{
    padding: 30px;
}
 .blog-item-classes h4{
    margin-bottom: 5px;
}
 .blog-item-classes ul{
    border: none;
    padding: 0px;
    margin-bottom: 10px;
}
.blog-item-classes .blog-content p{
    margin-bottom: 15px;
}
.post-meta li{
    list-style: none;
    display: inline-block;
    color: #696969;
    margin-right: 20px;
}
.post-meta li a{
    text-decoration: none;
    color: #696969;
}
.post-meta li .icon{
    margin-right: 5px;
}
.post-meta li .icon:before{
    font-size: 16px;
}
.single-post .post-content{
    padding: 30px 30px 0px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,.1);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.1);
    margin-bottom: 50px;
}
.single-post .post-content h3{
    font-size: 30px;
    color: #212121;
    margin-bottom: 10px;
}
.single-post .post-content blockquote{
    font-style: normal;
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    border: none;
    padding: 0px 0px 0px 40px;
}
.single-post .post-content blockquote:after{
    left: 0px;
    top: 30%;
    color: #ff9000;
    font-size: 30px;
}
.single-post .post-content blockquote:before{
    content: "\f10e" !important;
    position: absolute;
    right: 50px;
    bottom: 0px;
    font: normal normal normal 30px/1 FontAwesome;
    color: #ff9000;
}
.single-post .post-content p:last-child{
    margin: 0px;
}
.single-post .content-bottom{
    border-top: 1px solid #f0f0f0;
    padding: 12px 0px;
    overflow: hidden;
}
.single-post .content-bottom ul{
    margin: 0px;
}
.single-post .content-bottom ul li{
    list-style: none;
    display: inline-block;
}
.single-post .content-bottom li:first-child{
    margin-right: 5px;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    color: #ff9000;
}
.single-post .content-bottom li span{
    margin-right: 5px;
}
.single-post .content-bottom li span:before{
    color: #696969;
    font-size: 18px;
}
.single-post .post-tags{
    float: left;
}
.single-post .post-tags li a{
    font-style: normal;
    font-size: 16px;
    color: #696969;
    text-decoration: none;
}
.single-post .post-share{
    float: right;
}
.single-post .post-share li{
    margin-right: 10px;
}
.single-post .post-share li:last-child{
    margin: 0px;
}
.single-post .post-share li a{
    font-size: 16px;
    color: #3b5998
}
.single-post .post-share li:nth-child(3) a{
    color: #db4437
}
.single-post .post-share li:nth-child(4) a{
    color: #e94c89
}
.single-post .post-share li:nth-child(5) a{
    color: #23b6ea
}
.single-post .post-share li:nth-child(6) a{
    color: #cb1f27
}
.single-post .post-comments{
    margin-bottom: 20px;
}
.single-post .post-comments h3{
    font-size: 24px;
    color: #6c5ebf;
    margin-bottom: 20px;
}
.single-post .post-comments ul{
    margin: 0px;
}
.single-post .post-comments li{
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}
.single-post .post-comments li .the-comment{
    padding-bottom: 20px;
}
.single-post .post-comments li:last-child{
    margin: 0px;
    padding: 0px;
    border: none;
}
.single-post .post-comments li ul{
    margin-left: 90px;
}
.single-post .post-comments .comment-image{
    overflow: hidden;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    float: left;
    margin-right: 20px;
}
.single-post .post-comments .comment-content{
    display: table;
}
.single-post .post-comments .comment-content p{
	
	color:#495d65;
}
.single-post .post-comments .comment-content h4{
    float: left;
    font-size: 18px;
    color: #212121;
    margin-right: 5px;
}
.single-post .post-comments .comment-content .comm-reply{
    float: right;
}
.single-post .post-comments .comment-content .comm-reply i{
    color: #ffc000;
    font-weight: 700;
}
.single-post .post-comments .comment-content .comm-reply i:before{
    font-size: 15px;
}
.single-post .post-comments .comment-content .comm-reply a{
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    color: #696969;
}
.single-post .post-comments .comment-content span{
    color: #707070;
}
.single-post .post-comments .comment-content p{
    margin-top: 5px;
    margin-bottom: 0px;
}
.single-post .reply-form h3{
    font-size: 24px;
    color: #6c5ebf;
    margin-bottom: 30px;
}
.single-post .reply-form .com-input{
    width: 100%;
    border: 1px solid #f0f0f0;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 30px;
}
.single-post .reply-form button{
    outline: none;
    padding: 17px 26px;
}

.post-bottom {
    padding: 10px 0 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.post-share {
    float: left;
}
.post-share span {
    margin-right: 4px;
    font-size: 13px;
    color: #666;
}


.post-share a {
	display: inline-block;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.post-share a.facebook {
	background-color: #507CBE;
}

.post-share a.facebook:hover {
	background-color: #3E68A8;
}

.post-share a.twitter {
	background-color: #63CDF1;
}

.post-share a.twitter:hover {
	background-color: #36BFED;
}

.post-share a.gplus {
	background-color: #F16261;
}

.post-share a.gplus:hover {
	background-color: #EF4545;
}

.post-share a.linkedin {
	background-color: #90CADD;
}

.post-share a.linkedin:hover {
	background-color: #72BBD3;
}

.post-share a.mail {
	background-color: #da615e;
}

.post-share a.mail:hover {
	background-color: #ee3733;
}

.post-share a i {
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	display: block;
	color: #fff;
	font-size: 1em;
}

#comments .comments-title {
    font-size: 20px;
    color: #323f43;
    margin: 0px 0px 15px 0px;
    font-family: 'OpenSansBold';
    text-transform: uppercase;
}
#comments .comments-list {
    padding: 0;
    margin: 0 0 25px 0;
}

.navbar-nav{
	position: relative;
}

.navbar-nav li:hover>ul {
	display:block;
	 
 
}

 
 
 



#comments .comments-list li .comment-box {
	padding: 20px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
	margin-bottom: 20px;
	border: 1px solid #e8e8e8;
	/*box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
	-o-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
  	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;*/
}

#comments .comments-list li ul {
	padding-left: 80px;
}

#comments .avatar {
	float: left;
}

#comments .avatar img {
	width: 60px;
	height: 60px;
	padding: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	border: 1px solid #e8e8e8;
}

#comments .comment-content {
	padding-left: 72px;
}

#comments .comment-content .comment-meta {
	margin-bottom: 5px;
}

.comment-content .comment-meta span:after {
	content: "-";
	margin: 0 5px;
	font-weight: 100;
	color: #666;
}

.comment-content .comment-meta span:last-child:after {
	content: "";
	margin: 0;
}

.comment-content .comment-meta .comment-by {
	font-family: 'OpenSansBold';
	color: #495d65;
}

.comment-content .comment-meta .comment-date {
	color: #495d65;
	font-style: italic;
	font-family: 'OpenSansBold';
}

#respond .respond-title {
	font-size: 20px;
    color: #323f43;
    margin: 0px 0px 15px 0px;
    font-family: 'OpenSansBold';
    text-transform: uppercase;
}

label {
	font-size: 14px;
	color: #495d65;
	font-family: 'opensansregular';
	cursor: pointer;
	font-weight: normal;
}

label .required {
	color: #ED2C3A;
	margin-left: 2px;
}

input[type="submit"] {
    outline: none;
}

.widget-search input[type="search"],
#contact-form input[type="text"],
#contact-form textarea,
#respond input[type="text"],
#respond textarea, .email {
    
    font-size: 13px;
    font-family: 'opensansregular';
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    outline: none;
    width: 100%;
    padding: 7px 14px;
    display: block;
    margin-bottom: 10px;  
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

a.main-button, input[type="submit"] {
    display: inline-block;
    text-decoration: none;
    color: #fff;
	background-color: #85c342;
	border: 0px;
    font-size: 13px;
    font-family: 'opensansregular';
    margin-top: 10px;
    text-transform: uppercase;
    padding: 6px 16px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

a.main-button:hover, input[type="submit"]:hover {
	background: #64982c;
	color: #fff;
}

/*  22  - Sidebar
----------------------------------------------*/
.sidebar{
   
    box-shadow:none;
    padding: 30px 0px 0px 0px;
}
.sidebar .sidebar-item{
    margin-bottom: 50px;
}
.sidebar-title{
    font-size: 20px;
    color: #323f43;
    margin:0px 0px 15px 0px;
	font-family: 'OpenSansBold';
	text-transform: uppercase;
}
.sidebar form{
    overflow: hidden;
}
.sidebar form input, .sidebar form select{
    width: 100%;
    border: 1px solid #f0f0f0;
    color: #696969;
    padding: 16px;
    outline: none;
    margin-bottom: 20px;
}
.sidebar form button{
    float: right;
    background-color: #3f9ae8;
    color:#fff !important;
    padding: 0;
    margin-top: 0px;
    outline: none;
    transition: .25s ease-out;
}
.sidebar form button:hover, .sidebar form button:focus{
    background-color: #2a88d8;
}
.sidebar .sidebar-categories{
    margin: 0px;
	padding-left: 0px;
}
.sidebar .sidebar-categories li{
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
}
.sidebar .sidebar-categories li:last-child{
    border: none;
}
.sidebar .sidebar-categories li a{
    display: block;
    font-size: 14px;
    color: #696969;
    text-decoration: none;
	font-family: 'opensansregular';
    padding: 10px 0px;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-categories li:first-child a{
    padding-top: 0px;
}
.sidebar .sidebar-categories li:last-child a{
    padding-bottom: 0px;
}
.sidebar .sidebar-categories li a:hover{
    
    color: #85c342;
}
.sidebar .sidebar-categories li span{
    float: right;
    height: 30px;
    width: 30px;
	margin-top: -5px;
    text-align: center;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    line-height: 30px;
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
}
.sidebar .sidebar-categories li a:hover span{
    background-color: #85c342;
    color: #fff;
}
.sidebar .sidebar-posts{
    margin: 0px;
	padding-left: 0px;
}
.sidebar .sidebar-posts li{
    list-style: none;
    overflow: hidden;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #f0f0f0;
}
.sidebar .sidebar-posts li:last-child{
    margin: 0px;
    padding: 0px;
    border: none;
}
.sidebar .sidebar-posts .image{
    float: left;
    margin-right: 20px;
}
.sidebar .sidebar-posts .content{
    display: table;
}
.sidebar .sidebar-posts a{
    display: block;
    text-decoration: none;
    font-size: 14px;
	font-family: 'opensansregular';
    color: #696969;
}
.sidebar .sidebar-posts li:hover a{
    color: #85c342;
}
.sidebar .sidebar-posts span{
    font-size: 12px;
    color: #85c342;
	font-family: 'opensansregular';
    float: left;
}
.sidebar .sidebar-posts .price{
    font-weight: 700;
}
.sidebar .sidebar-posts .rating{
    display: inline-block;
    margin-left: 10px;
}
.sidebar .sidebar-posts .rating span{
    margin-right: 4px;
    font-size: 14px;
    margin-top: 3px;
}
.sidebar .sidebar-gallery{
    margin: 0px;
    overflow: hidden;
    margin: -5px;
}
.sidebar .sidebar-gallery li{
    list-style: none;
    float: left;
    width: calc(100% / 3 - 1px);
    padding: 5px;
}
.sidebar .sidebar-gallery li img{
    width: 100%;
}
.sidebar .sidebar-tags{
    margin: 0px;
    overflow: hidden;
    margin: -5px;
}
.sidebar .sidebar-tags li{
    list-style: none;
    display: inline-block;
    float: left;
    margin: 5px;
}
.sidebar .sidebar-tags li a{
    text-decoration: none;
    font-size: 16px;
    color: #707070;
    border: 1px solid #f0f0f0;
    border-radius: 1px;
    padding: 7px 18px;
    display: inline-block;
}
.sidebar .sidebar-tags li a:hover{
    background-color: #ff9000;
    border-color: #ff9000;
    color: #fff;
}

.sidebar .widget {
    overflow: hidden;
    margin-bottom: 30px;
}


.widget-search .search-btn {
	display: inline-block;
	width: auto;
	padding: 0px 17px;
	height: 37px;
	border: none;
	color: #fff;
	font-size: 1.2em;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.widget-search .search-btn {
	background-color: #85c342;
	font-size: 13px;
	
}
.widget-search .search-btn:hover {
	background-color: #64982c;
}


.widget-search .search-btn:focus {
	background-color: #64982c;
}


.widget-search input[type="search"],
#contact-form input[type="text"],
#contact-form textarea,
#respond input[type="text"],
#respond textarea, .email {
    color: #495d65;
   
   font-family: 'opensansregular';
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    outline: none;
    width: 100%;
    padding: 7px 14px;
    display: block;
    margin-bottom: 10px;  
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.widget-search input[type="search"]:focus,
#contact-form input[type="text"]:focus,
#contact-form textarea:focus,
#respond input[type="text"]:focus,
#respond textarea:focus {
	border-color: #85c342;
	
}


.widget-search input[type="search"] {
    position: relative;
    margin: 0;
	color: #495d65;
    float: left;
    height: 37px;
    line-height: 37px;
    width: calc(100% - 102px);
    border-right: none;
    border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
}

.pagination {
    display: block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #9ca7ac;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 5px;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}


.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #85c342;
  border-color: #85c342;
}
/**************************** END BLOG ************************************/






.navbar-default .navbar-nav>li>a:hover > .dropdown-menu {
	display: block;
} 




















@media screen and (max-width: 768px) {
	
	.header-request-demo {
	display:none;
	
	}
	.navbar-nav {
    margin:0px;
}
	.navbar-default .navbar-nav>li>a {
		border-bottom: 1px solid #e9f1f4;
	}
	
	
	.dropdown-menu>li>a {
		
		border-bottom: 1px solid #d8e2e6;
	}
	.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #e9f1f4;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px 15px 10px 25px;
}
	
	.footer {
    width: 100%;
    background-color: #2a323b;
    position: relative;
    bottom: 0;
    height: auto;
    padding: 15px 15px;
}
	#page-body {
    width: 100%;
    padding-bottom: 50px;
}
	
}




@media (min-width: 768px){

.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-right {
    float: right !important;
    margin-right: 0px;
}
	
	
}


@media all and (max-width: 1005px) {
		.visible {
		height: 100px;
	}
	.home-text-animation h1 {
	    margin-left: 0;
	}
	.visible ul {
		text-align: center;
		padding-left: 0;
		-webkit-animation-name: changeTablet;
        -moz-animation-name: changeTablet;
        animation-name: changeTablet;
	}
	.visible ul li {
		padding-top: 88px;
		margin-left: 0;
		display: block;
	}
}

@media all and (max-width: 680px) {
	.blog-item-wide .blog-image {
		float: none;
	}
	
	
	.blog-item .blog-content {
    padding: 30px 0px 0px 0px;
}
}


@media all and (max-width: 430px) {
	.home-text-animation h1 {
		font-size: 36px;
	}
	.visible ul li {
    	font-size: 36px;
    	padding-top: 72px;
	}
}
